* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(237, 242, 247);
  margin: 10px;
}

.search-container {
  max-width: 1000px;
  margin: 25px auto;
}

.posts {
  margin: 0 auto;
  max-width: 1000px;

  &__masorny-grid {
    margin-left: -20px;
    display: flex;
    width: auto;
  }

  &__masorny-col {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 10px 30px;
  }
}